<%= simple_form_for [question, answer], html: { class: "answer form" } do |f| %>

  <div class="card block">
    <% if answer.errors.any? %>
      <div class="error-message">
        <%= answer.errors.full_messages.to_sentence.capitalize %>
      </div>
      <% end %>

    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <%= @question.title %>
        </div>
      </div>

      <div class="content">
        <%= f.input :body, label: false %>
      </div>

      <%= f.submit class: "button is-primary has-text-weight-bold" %>
      <%= link_to "Cancel", questions_path, class: "button is-info" %>
    </div>
  </div>  
  
  
<% end %>

